In [75]:
import pandas as pd

In [76]:
sells = pd.read_csv('filterdata/sells.csv')
sells.drop(inplace=True, labels='Unnamed: 0', axis= 1)
sells['floor'].fillna(value=0, inplace=True) # donde encuentra NaN mete 0 en la columna floor.
sells['rooms'].fillna(value=0, inplace=True) # donde encuentra NaN mete 0 en la columna floor.

In [77]:
sells.keys()

Index(['created_on', 'property_type', 'place_with_parent_names',
       'price_aprox_usd', 'surface_in_m2', 'floor', 'rooms'],
      dtype='object')

In [78]:
df_barrios = pd.DataFrame(sells.place_with_parent_names.unique(), columns=['place_with_parent_names']).reset_index()
df_barrios.rename(columns={'index':'id_place_with_parent_names'},inplace=True)
sells = sells.merge(how='left',left_on='place_with_parent_names',right_on='place_with_parent_names',right=df_barrios)
sells.head()

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2,0
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atlántica|Mar de...,330000,468,0,5,1
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,0,2,2
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,0,3,2
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,0,1,3

In [79]:
df_tipo_propiedad = pd.DataFrame(sells.property_type.unique(), columns=['property_type']).reset_index()
df_tipo_propiedad.rename(columns={'index':'id_property_type'},inplace=True)
sells = sells.merge(how='left',left_on='property_type',right_on='property_type',right=df_tipo_propiedad)
sells.head(5)

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2,0,0
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atlántica|Mar de...,330000,468,0,5,1,1
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,0,2,2,0
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,0,3,2,0
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,0,1,3,0

In [80]:
df_tipo_propiedad

   id_property_type property_type
0                 0     apartment
1                 1         house
2                 2            PH
3                 3         store

In [81]:
sells.keys()

Index(['created_on', 'property_type', 'place_with_parent_names',
       'price_aprox_usd', 'surface_in_m2', 'floor', 'rooms',
       'id_place_with_parent_names', 'id_property_type'],
      dtype='object')

In [82]:
sells[['price_aprox_usd','surface_in_m2','floor','rooms','id_place_with_parent_names','id_property_type']].apply(pd.to_numeric)

,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,98000.00,47,1,2,0,0
1,330000.00,468,0,5,1,1
2,56900.00,30,0,2,2,0
3,44000.00,55,0,3,2,0
4,58500.00,26,0,1,3,0
5,105000.00,65,0,3,4,0
6,90000.00,60,0,3,5,0
7,80000.00,65,0,3,2,2
8,125000.00,260,0,4,6,1
9,91800.00,38,0,1,7,0
10,139000.00,75,0,2,8,0
11,51000.00,30,0,1,9,0
12,280000.00,300,0,3,10,1
13,192000.00,40,0,2,11,0
14,80000.00,36,0,0,12,2
15,72924.53,32,0,1,12,0
16,329000.00,72,0,3,11,0
17,123000.00,57,0,3,13,0
18,82000.00,34,0,1,13,0
19,138000.00,57,0,3,13,0
20,82000.00,34,0,1,13,0
21,120000.00,80,0,0,12,2
22,72000.00,26,0,1,2,0
23,118000.00,45,0,1,2,0
24,96000.00,32,0,1,14,0
25,128000.00,40,0,2,14,0
26,249000.00,86,0,3,14,0
27,800000.00,390,0,0,5,1
28,105000.00,59,0,2,15,2
29,100303.03,32,0,1,16,0
...,...,...,...,...,...,...
358444,84394.71,35,0,0,14,0
358445,76352.31,35,0,0,14,0
358446,74338.91,34,0,0,14,0
358447,74338.91,34,0,0,14,0
358448,81680.26,38,0,0,14,0
358449,116463.36,48,0,0,14,0
358450,83716.10,34,0,0,14,0
358451,83716.10,34,0,0,14,0
358452,85987.49,35,0,0,14,0
358453,77793.66,35,0,0,14,0
358454,75741.00,34,0,0,14,0
358455,75741.00,34,0,0,14,0
358456,83222.56,38,0,0,14,0
358457,118622.58,48,0,0,14,0
358458,85269.62,34,0,0,14,0
358459,85269.62,34,0,0,14,0
358460,87574.66,35,0,0,14,0
358461,79235.01,35,0,0,14,0
358462,77148.70,34,0,0,14,0
358463,77148.70,34,0,0,14,0
358464,84764.86,38,0,0,14,0
358465,98460.50,48,0,0,14,0
358466,79476.17,34,0,0,14,0
358467,79476.17,34,0,0,14,0
358468,81758.78,35,0,0,14,0
358469,80676.36,35,0,0,14,0
358470,78550.79,34,0,0,14,0
358471,78550.79,34,0,0,14,0
358472,86307.17,38,0,0,14,0
358473,30285.18,60,0,0,25,0

In [83]:
sells.head(5)

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2,0,0
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atlántica|Mar de...,330000,468,0,5,1,1
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,0,2,2,0
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,0,3,2,0
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,0,1,3,0

In [84]:
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358474 entries, 0 to 358473
Data columns (total 9 columns):
created_on                    358474 non-null object
property_type                 358474 non-null object
place_with_parent_names       358474 non-null object
price_aprox_usd               358474 non-null float64
surface_in_m2                 358474 non-null float64
floor                         358474 non-null float64
rooms                         358474 non-null float64
id_place_with_parent_names    358474 non-null int64
id_property_type              358474 non-null int64
dtypes: float64(4), int64(2), object(3)
memory usage: 27.3+ MB

In [129]:
(sells[sells['floor']>52]).count() ##se pueden dropear 289 edificios q poseen mas de 52pisos lo cual no es posible para ningun edificio en buenos aires,ya que el mas alto posee 52 pisos.
sells = sells[sells['floor']<52]

sells.drop(inplace=True, labels='property_type', axis= 1)
sells.drop(inplace=True, labels='place_with_parent_names', axis= 1)

In [130]:
sells.head()

,created_on,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,2013-07-01,98000,47,1,2,0,0
1,2013-07-01,330000,468,0,5,1,1
2,2013-07-01,56900,30,0,2,2,0
3,2013-07-01,44000,55,0,3,2,0
4,2013-07-01,58500,26,0,1,3,0

In [ ]:
sells.to_csv('filterdata/sellsNumericos')

In [131]:
asd = '25-24-12'

In [133]:
asdNuevo = asd.replace('-','')
asdNuevo

'252412'

In [134]:
asd = sells['created_on'].replace('-','')

In [138]:
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358185 entries, 0 to 358473
Data columns (total 7 columns):
created_on                    358185 non-null object
price_aprox_usd               358185 non-null float64
surface_in_m2                 358185 non-null float64
floor                         358185 non-null float64
rooms                         358185 non-null float64
id_place_with_parent_names    358185 non-null int64
id_property_type              358185 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 21.9+ MB