In [3]:
import pandas as pd

In [4]:
sells = pd.read_csv('filterdata/sells.csv')
sells.drop(inplace=True, labels='Unnamed: 0', axis= 1)
sells['floor'].fillna(value=0, inplace=True) # donde encuentra NaN mete 0 en la columna floor.
sells['rooms'].fillna(value=0, inplace=True) # donde encuentra NaN mete 0 en la columna floor.

In [5]:
sells.keys()

Index(['created_on', 'property_type', 'place_with_parent_names',
       'price_aprox_usd', 'surface_in_m2', 'floor', 'rooms'],
      dtype='object')

In [6]:
df_barrios = pd.DataFrame(sells.place_with_parent_names.unique(), columns=['place_with_parent_names']).reset_index()
df_barrios.rename(columns={'index':'id_place_with_parent_names'},inplace=True)
sells = sells.merge(how='left',left_on='place_with_parent_names',right_on='place_with_parent_names',right=df_barrios)
sells.head()

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2,0
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atlántica|Mar de...,330000,468,0,5,1
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,0,2,2
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,0,3,2
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,0,1,3

In [7]:
df_tipo_propiedad = pd.DataFrame(sells.property_type.unique(), columns=['property_type']).reset_index()
df_tipo_propiedad.rename(columns={'index':'id_property_type'},inplace=True)
sells = sells.merge(how='left',left_on='property_type',right_on='property_type',right=df_tipo_propiedad)
sells.head(5)

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2,0,0
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atlántica|Mar de...,330000,468,0,5,1,1
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,0,2,2,0
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,0,3,2,0
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,0,1,3,0

In [8]:
df_tipo_propiedad

   id_property_type property_type
0                 0     apartment
1                 1         house
2                 2            PH
3                 3         store

In [9]:
sells.keys()

Index(['created_on', 'property_type', 'place_with_parent_names',
       'price_aprox_usd', 'surface_in_m2', 'floor', 'rooms',
       'id_place_with_parent_names', 'id_property_type'],
      dtype='object')

In [10]:
sells.head(5)

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2,0,0
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atlántica|Mar de...,330000,468,0,5,1,1
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,0,2,2,0
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,0,3,2,0
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,0,1,3,0

In [11]:
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358474 entries, 0 to 358473
Data columns (total 9 columns):
created_on                    358474 non-null object
property_type                 358474 non-null object
place_with_parent_names       358474 non-null object
price_aprox_usd               358474 non-null float64
surface_in_m2                 358474 non-null float64
floor                         358474 non-null float64
rooms                         358474 non-null float64
id_place_with_parent_names    358474 non-null int64
id_property_type              358474 non-null int64
dtypes: float64(4), int64(2), object(3)
memory usage: 27.3+ MB

In [12]:
(sells[sells['floor']>52]).count() ##se pueden dropear 289 edificios q poseen mas de 52pisos lo cual no es posible para ningun edificio en buenos aires,ya que el mas alto posee 52 pisos.
sells = sells[sells['floor']<52]

sells.drop(inplace=True, labels='property_type', axis= 1)
sells.drop(inplace=True, labels='place_with_parent_names', axis= 1)

In [13]:
sells.head()

,created_on,price_aprox_usd,surface_in_m2,floor,rooms,id_place_with_parent_names,id_property_type
0,2013-07-01,98000,47,1,2,0,0
1,2013-07-01,330000,468,0,5,1,1
2,2013-07-01,56900,30,0,2,2,0
3,2013-07-01,44000,55,0,3,2,0
4,2013-07-01,58500,26,0,1,3,0

In [14]:
sells['created_on'] = sells['created_on'].str.replace('-','')

In [15]:
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358185 entries, 0 to 358473
Data columns (total 7 columns):
created_on                    358185 non-null object
price_aprox_usd               358185 non-null float64
surface_in_m2                 358185 non-null float64
floor                         358185 non-null float64
rooms                         358185 non-null float64
id_place_with_parent_names    358185 non-null int64
id_property_type              358185 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 21.9+ MB

In [16]:
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358185 entries, 0 to 358473
Data columns (total 7 columns):
created_on                    358185 non-null object
price_aprox_usd               358185 non-null float64
surface_in_m2                 358185 non-null float64
floor                         358185 non-null float64
rooms                         358185 non-null float64
id_place_with_parent_names    358185 non-null int64
id_property_type              358185 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 21.9+ MB

In [17]:
sells = sells.apply(pd.to_numeric)
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358185 entries, 0 to 358473
Data columns (total 7 columns):
created_on                    358185 non-null int64
price_aprox_usd               358185 non-null float64
surface_in_m2                 358185 non-null float64
floor                         358185 non-null float64
rooms                         358185 non-null float64
id_place_with_parent_names    358185 non-null int64
id_property_type              358185 non-null int64
dtypes: float64(4), int64(3)
memory usage: 21.9 MB

In [18]:
sells.to_csv('filterdata/sellsNumericos')