In [1]:
import pandas as pd

In [18]:
sells_07_2013 = pd.read_csv('filterdata/sells_07_2013.csv')
sells_08_2013 = pd.read_csv('filterdata/sells_08_2013.csv')
sells_09_2013 = pd.read_csv('filterdata/sells_09_2013.csv')
sells_10_2013 = pd.read_csv('filterdata/sells_10_2013.csv')
sells_11_2013 = pd.read_csv('filterdata/sells_11_2013.csv')
sells_12_2013 = pd.read_csv('filterdata/sells_12_2013.csv')

sells_01_2014 = pd.read_csv('filterdata/sells_01_2014.csv')
sells_02_2014 = pd.read_csv('filterdata/sells_02_2014.csv')
sells_03_2014 = pd.read_csv('filterdata/sells_03_2014.csv')
sells_04_2014 = pd.read_csv('filterdata/sells_04_2014.csv')
sells_05_2014 = pd.read_csv('filterdata/sells_05_2014.csv')
sells_06_2014 = pd.read_csv('filterdata/sells_06_2014.csv')
sells_07_2014 = pd.read_csv('filterdata/sells_07_2014.csv')
sells_08_2014 = pd.read_csv('filterdata/sells_08_2014.csv')
sells_09_2014 = pd.read_csv('filterdata/sells_09_2014.csv')
sells_10_2014 = pd.read_csv('filterdata/sells_10_2014.csv')
sells_11_2014 = pd.read_csv('filterdata/sells_11_2014.csv')
sells_12_2014 = pd.read_csv('filterdata/sells_12_2014.csv')

sells_01_2015 = pd.read_csv('filterdata/sells_01_2015.csv')
sells_02_2015 = pd.read_csv('filterdata/sells_02_2015.csv')
sells_03_2015 = pd.read_csv('filterdata/sells_03_2015.csv')
sells_04_2015 = pd.read_csv('filterdata/sells_04_2015.csv')
sells_05_2015 = pd.read_csv('filterdata/sells_05_2015.csv')
sells_06_2015 = pd.read_csv('filterdata/sells_06_2015.csv')
sells_07_2015 = pd.read_csv('filterdata/sells_07_2015.csv')
sells_08_2015 = pd.read_csv('filterdata/sells_08_2015.csv')
sells_09_2015 = pd.read_csv('filterdata/sells_09_2015.csv')
sells_10_2015 = pd.read_csv('filterdata/sells_10_2015.csv')
sells_11_2015 = pd.read_csv('filterdata/sells_11_2015.csv')
sells_12_2015 = pd.read_csv('filterdata/sells_12_2015.csv')

sells_01_2016 = pd.read_csv('filterdata/sells_01_2016.csv')
sells_02_2016 = pd.read_csv('filterdata/sells_02_2016.csv')
sells_03_2016 = pd.read_csv('filterdata/sells_03_2016.csv')
sells_04_2016 = pd.read_csv('filterdata/sells_04_2016.csv')
sells_05_2016 = pd.read_csv('filterdata/sells_05_2016.csv')
sells_06_2016 = pd.read_csv('filterdata/sells_06_2016.csv')
sells_07_2016 = pd.read_csv('filterdata/sells_07_2016.csv')
sells_08_2016 = pd.read_csv('filterdata/sells_08_2016.csv')
sells_09_2016 = pd.read_csv('filterdata/sells_09_2016.csv')
sells_10_2016 = pd.read_csv('filterdata/sells_10_2016.csv')
sells_11_2016 = pd.read_csv('filterdata/sells_11_2016.csv')
sells_12_2016 = pd.read_csv('filterdata/sells_12_2016.csv')

sells_01_2017 = pd.read_csv('filterdata/sells_01_2017.csv')
sells_02_2017 = pd.read_csv('filterdata/sells_02_2017.csv')
sells_03_2017 = pd.read_csv('filterdata/sells_03_2017.csv')
sells_04_2017 = pd.read_csv('filterdata/sells_04_2017.csv')
sells_05_2017 = pd.read_csv('filterdata/sells_05_2017.csv')
sells_06_2017 = pd.read_csv('filterdata/sells_06_2017.csv')
sells_07_2017 = pd.read_csv('filterdata/sells_07_2017.csv')

In [15]:
sells_2013 = pd.concat([sells_07_2013,sells_08_2013,sells_09_2013,sells_10_2013,sells_11_2013,sells_12_2013])
sells_2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58033 entries, 0 to 17418
Data columns (total 8 columns):
Unnamed: 0                 58033 non-null int64
created_on                 58033 non-null object
property_type              58033 non-null object
place_with_parent_names    58033 non-null object
price_aprox_usd            58033 non-null float64
surface_in_m2              58033 non-null float64
floor                      7847 non-null float64
rooms                      48398 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 4.0+ MB

In [22]:
sells_2014 = pd.concat([sells_01_2014,sells_02_2014,sells_03_2014,sells_04_2014,sells_05_2014,sells_06_2014,sells_07_2014,sells_08_2014,sells_09_2014,sells_10_2014,sells_11_2014,sells_12_2014])
sells_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68848 entries, 0 to 1783
Data columns (total 8 columns):
Unnamed: 0                 68848 non-null int64
created_on                 68848 non-null object
property_type              68848 non-null object
place_with_parent_names    68848 non-null object
price_aprox_usd            68848 non-null float64
surface_in_m2              68848 non-null float64
floor                      12182 non-null float64
rooms                      51938 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 4.7+ MB

In [24]:
sells_2015 = pd.concat([sells_01_2015,sells_02_2015,sells_03_2015,sells_04_2015,sells_05_2015,sells_06_2015,sells_07_2015,sells_08_2015,sells_09_2015,sells_10_2015,sells_11_2015,sells_12_2015])
sells_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89473 entries, 0 to 2163
Data columns (total 8 columns):
Unnamed: 0                 89473 non-null float64
created_on                 89473 non-null object
property_type              89473 non-null object
place_with_parent_names    89473 non-null object
price_aprox_usd            89473 non-null float64
surface_in_m2              89473 non-null float64
floor                      18857 non-null float64
rooms                      33297 non-null float64
dtypes: float64(5), object(3)
memory usage: 6.1+ MB

In [26]:
sells_2016 = pd.concat([sells_01_2016,sells_02_2016,sells_03_2016,sells_04_2016,sells_05_2016,sells_06_2016,sells_07_2016,sells_08_2016,sells_09_2016,sells_10_2016,sells_11_2016,sells_12_2016])
sells_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62447 entries, 0 to 6676
Data columns (total 8 columns):
Unnamed: 0                 62447 non-null int64
created_on                 62447 non-null object
property_type              62447 non-null object
place_with_parent_names    62447 non-null object
price_aprox_usd            62447 non-null float64
surface_in_m2              62447 non-null float64
floor                      6178 non-null float64
rooms                      37768 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 4.3+ MB

In [28]:
sells_2017 = pd.concat([sells_01_2017,sells_02_2017,sells_03_2017,sells_04_2017,sells_05_2017,sells_06_2017,sells_07_2017])
sells_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79673 entries, 0 to 36734
Data columns (total 8 columns):
Unnamed: 0                 79673 non-null float64
created_on                 79673 non-null object
property_type              79673 non-null object
place_with_parent_names    79673 non-null object
price_aprox_usd            79673 non-null float64
surface_in_m2              79673 non-null float64
floor                      5423 non-null float64
rooms                      33346 non-null float64
dtypes: float64(5), object(3)
memory usage: 5.5+ MB

In [42]:
sells = pd.concat([sells_2013,sells_2014,sells_2015,sells_2016,sells_2017])
sells = sells.loc[:,['created_on', 'property_type', 'place_with_parent_names', 'price_aprox_usd', 'surface_in_m2', 'floor', 'rooms']]
sells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358474 entries, 0 to 36734
Data columns (total 7 columns):
created_on                 358474 non-null object
property_type              358474 non-null object
place_with_parent_names    358474 non-null object
price_aprox_usd            358474 non-null float64
surface_in_m2              358474 non-null float64
floor                      50487 non-null float64
rooms                      204747 non-null float64
dtypes: float64(4), object(3)
memory usage: 21.9+ MB

In [46]:
sells.head(10)

,created_on,property_type,place_with_parent_names,price_aprox_usd,surface_in_m2,floor,rooms
0,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|,98000,47,1,2
1,2013-07-01,house,|Argentina|Buenos Aires Costa Atl치ntica|Mar de...,330000,468,NaN,5
2,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,56900,30,NaN,2
3,2013-07-01,apartment,|Argentina|Capital Federal|Balvanera|,44000,55,NaN,3
4,2013-07-01,apartment,|Argentina|Capital Federal|Congreso|,58500,26,NaN,1
5,2013-07-01,apartment,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,105000,65,NaN,3
6,2013-07-01,apartment,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|,90000,60,NaN,3
7,2013-07-01,PH,|Argentina|Capital Federal|Balvanera|,80000,65,NaN,3
8,2013-07-01,house,|Argentina|Buenos Aires Costa Atl치ntica|Mar de...,125000,260,NaN,4
9,2013-07-01,apartment,|Argentina|Capital Federal|Palermo|Palermo Chico|,91800,38,NaN,1

In [48]:
sells.to_csv('filterdata/sells.csv')